.container
  %h1 Feed Reader
  %h2 #{feed.channel.title}
  - feed.items.each do |item|
    - if strip_tags(item.category) =~ /Video/
      - url = item.link
      - klass = 'video'
    - else
      - url = url("/#{params[:feed]}/#{CGI.escape(Base64.encode64(item.link))}")
      - klass = nil
    .feed-link.well
      .row
        %a{ href: url, class: klass }
          .col-sm-9
            = item.title
          .col-sm-offset-1.col-sm-2
            = item.pubDate.strftime('%d/%m/%Y %H:%M')
      .row
        .col-sm-12.clearfix
          .content
